.container-mailing {
    height: 469px;
    width: 100vw;
    background-color: #ffff;
}

.logo-mailing {
    display: flex;
    justify-content: center;
    padding-top: 109px;
}

.logo-mailing img {
    height: 85px;
    width: 94px;
}

.santence {
    padding-top: 39px;
    text-align: center;
    font-family: latoitalic;
    font-size: 24px;
    color: #848789;
}

#enter-email {
    font-family: latoitalic;
    padding-left: 28px;
    color: #929292;
    font-size: 20px;
    height: 68px;
    width: 400px;
    border: solid 0.5px #929292;
}

#enter-email-button {
    font-family: latolight;
    font-size: 24px;
    color: white;
    height: 70px;
    width: 126px;
    background-color: #64c29e;
    border: 1px #64c29e;
    margin-left: 8px;
}

.mailing {
    padding-top: 35px;
    padding-bottom: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
}